__pycache__
*.py[cod]
*$py.class
.Python
.venv
venv
.env
.git
.gitignore
*.md
.pytest_cache
.ruff_cache
.mypy_cache
pytest.ini
tests/
training/models/
**/training/models/**
*.egg-info
dist/
serviceAccountKey.json
